<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.popalay.yocard"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="UnusedAttribute">

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/Yocard">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Yocard.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.home.HomeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.addcard.AddCardActivity"
            android:label="@string/card_details"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.holderdetails.HolderDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.adddebt.AddDebtActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Yocard.Translucent.DialogActivity" />

    </application>

</manifest>